* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #0E1323;
    width: 1440px;
    font-family: "Rubik", sans-serif;
    font-style: normal;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1024px;
    color: white;
}
.mainCard {
    width: 255px;
    height: 518px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1C204B;
    img {
        border: 2px solid;
        border-color: white;
        border-radius: 50px;
    }
}
.user{
    width: 255px;
    height: 354px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #5747EA;
    padding: 40px 40px 80px 32px; 
}
.name {
    display: block;
    padding: 32px 80px 80px 0px;
}
.report {
    color: #BBC0FF;
    font-size: 15px;
    font-weight: 400;
}
.userName{
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
}
.side {
    width: 780px;
    height: 518px;
    display: flex;
    flex-wrap: wrap;
}
.timeCard {
    width: 255px;
    height: 199px;
    flex-shrink: 0;
}