* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}
body{ 
    background: #E0E8FF;
}
.container{
    width: 1440px;
    height: 900px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 697px;
    flex-shrink: 0;
}
